*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

#header-container{
    /* background-color: red; */
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#header-items{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10rem;
    align-items: center;
}

#logo-container{
    /* background-color: cyan; */
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-container{
    /* background-color: green; */
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

#list-container{
    list-style-type: none;
    display: flex;
}

.li-navbar{
    box-sizing: border-box;
    margin: 1.5rem;
}

#container-slider{
    /* background-color:red; */
    width: 100%;
    height: 30vh;

}

#container-isi1{
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

#isi1{
    /* background-color: yellow; */
    width: 50%;
    padding: 50px;
    
}

h1{
    font-size: 3rem;
}

#paragraph1{
    font-size: 1.5rem;
    margin: 10px;
}

#container-isi2{
    background-color: rgb(248, 209, 136);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;  
    border-radius: 20px 20px 0 0 ;
}

#item-container{
    display: flex;
    flex-direction: column;
}

.categories{  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 2rem;
}

.categories-container{
    margin: 10px;
    width: 330px;
    height: 500px;
    /* background-color: white; */
}

img{
    display: flex;
    width: 330px;
    height: 100%;
    object-fit: contain;
    border-radius:  0 0 20px 20px;
}

.judul-categories{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: 25px;
    font-weight: bold;
}

.kata-categories {
    /* background-color: green; */
    display: inline-block;
    width: auto;
    padding: 0 10px;
    height: 25px;
    margin: 25px;
    border: black 2px solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* Responsive */
