*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: wheat;
}

/* Header */
#header-container{
  /* background-color: red; */
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(133, 74, 46);
  color: wheat;
}

#header-items{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 10rem;
  align-items: center;
}

#logo-container{
  /* background-color: cyan; */
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container img{
  width: 60%;
  height: auto;
}

#menu-container{
  /* background-color: green; */
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}

#list-container{
  list-style-type: none;
  display: flex;
}

.li-navbar{
  box-sizing: border-box;
  margin: 1.5rem;
}

/* Content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.store {
  margin-bottom: 20px;
}

.store img {
  width: 100%;
  height: auto;
}

.store-info {
  background-color: #f1f1f1;
  padding: 10px;
}

.store-info p {
  margin-bottom: 5px;
}


/* Footer */
footer {
  font-size: larger;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
  height: 50px;
  padding: 50px 100px;
  color: white;
  background-color: rgb(133, 74, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media screen and (max-width: 600px) {
  .store {
    display: flex;
    flex-direction: column;
  }
  .store img {
    margin-bottom: 10px;
  }
}