/* Content */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.store {
  margin-bottom: 20px;
}

.store img {
  width: 100%;
  height: auto;
}

.store-info {
  background-color: #f1f1f1;
  padding: 10px;
}

.store-info p {
  margin-bottom: 5px;
}
